@font-face{
    font-family: "lpko";
    src: url("../fonts/Bangela.woff");
    format:(woff)
}
*{
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
#onepage{
    margin: auto;
    height: 1280px;
    position: relative;
    background-size:cover;
    background-color: #301210;
    background-image: url("../imagem/bg1.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
#namepage{
    color: white;
    font-family: lpko;
    font-weight:500;
    line-height: 120px;
}
.name{
    top: 400px;
    display: flex;
    font-size: 9em;
    line-height: 100px;
    align-content: center;
    justify-content: center;
}
.subname{
    top: 500px;
    width: max-content;
    margin: auto;
    display: flex;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 50px;
    align-content: center;
    justify-content: center;
}
#navbar ul li{
    top: 650px;
    display: grid;
    justify-content: center;
}
#navbar ul li a{
    list-style-type: none;
    text-decoration: none;
}
#navbar ul li span{
    top: -15px;
    color: white;
    padding: 0px 40px 0px 5px;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
}
